
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    border-radius: 7px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}
.titulo{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.subtitulo{
    margin: 5px;
}

.botao{
    height: 40px;
    background: none;
    border-radius: 5px;
    color: #4c89e3;
    border: 2px solid #4c89e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}
.botao:hover{
    background-color: #4c89e3;
    color: #fff;
}
.botao--disable{
    background-color: gray;
    color: #fff;
    pointer-events: none;
    border-color: gray;
}
