@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap%27');

* {
    font-family: 'Montserrat', sans-serif;
}

.containersub{
    flex: 0.5;
    height: 100%;
    min-width: 45vw;
    }

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    width: 100%;
    background-color: #4c89e3;
    color: #fff;
    padding: 36px;
    margin-bottom: 16px;
}

.titulos{
    justify-content: center;
    align-items: center;
    text-align: center;
}
